<div class="main-container">
    <div class="order-product-list-container">
        <form [formGroup]="productListForm" (submit)="addProductToList($event, productListForm.value)">

            <mat-form-field>
                <mat-select placeholder="Scegli Prodotto" formControlName="productSelect" required>
                    <mat-option *ngFor="let product of productList" [value]="product">{{product.productName}}</mat-option>
                  </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Quantità Prodotto" formControlName="prodQta" required>
            </mat-form-field>
            <button mat-raised-button type="submit" color="accent"><mat-icon>add</mat-icon>Aggiungi</button>
        </form>
    </div>
    <div class="order-product-table-container">
        <app-order-product-table [dataSource]="dataSource"></app-order-product-table>
    </div>
</div>