.product-list-page-container {
    margin: 0px 5%;
}

mat-card {
    background-color: rgba(143, 142, 142, 0.514);
    width: 80%;
}

.mat-chip.mat-standard-chip {
    background-color: firebrick;
    color: white;
}