
<div class="product-list-page-container">
    <span><h3>Lista Prodotti</h3></span>
    <mat-grid-list cols="3" rowHeight="600px">
        <mat-grid-tile *ngFor="let product of productList">
            <mat-card>
                <div class="product-list-content">
                    <mat-card-header>
                            <mat-card-title><span>{{product.productName.toUpperCase()}}</span></mat-card-title>
                            <mat-card-subtitle><span>{{product.productCategory.description.toUpperCase()}}</span></mat-card-subtitle>
                            <span class="fill-remaining-space"></span>
                    </mat-card-header>
                </div>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>