<div class="shop">
    <span>
        <h3>Dettaglio Attività</h3>
    </span>
    <mat-card *ngIf="shop != null; else noShopFound">
        <mat-card-header>
            <mat-card-title><span>{{shop.shopBusinessName}}</span></mat-card-title>
            <mat-card-subtitle><span>{{shop.shopAddress}}</span></mat-card-subtitle>
            <span class="fill-remaining-space"></span>
            <mat-chip-list>
                <mat-chip>{{shop.shopPIVA}}</mat-chip>
            </mat-chip-list>
        </mat-card-header>
        <mat-card-content>
            <p>Categoria: {{shop.shopCategory}}</p>
            <button mat-raised-button color="accent" (click)="showCatalog()">Visualizza Catalogo</button>
            <button *ngIf="shouldShowDeleteShopButton()" mat-raised-button color="accent" (click)="deleteShop()">Elimina
                Attività</button>
        </mat-card-content>
    </mat-card>

    <ng-template #noShopFound>Nessuna attività trovata con la partita IVA specificata</ng-template>

    <div *ngIf="shop != null">
        <span>
            <h3>Catalogo</h3>
        </span>
        <mat-grid-list cols="3">
            <mat-grid-tile *ngFor="let product of productList">
                <mat-card>
                    <div class="product-list-content">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title><span>{{product.productName.toUpperCase()}}</span></mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{product.productCategory.description.toUpperCase()}}</p>
                        </mat-card-content>
                    </div>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>