<div class="shop">
    <span>
        <h3>Dettaglio Attività</h3>
    </span>
    <mat-card *ngIf="shop != null; else noShopFound">
        <mat-card-header>
            <mat-card-title><span>{{shop.shopBusinessName}}</span></mat-card-title>
            <mat-card-subtitle><span>{{shop.shopAddress}}</span></mat-card-subtitle>
            <span class="fill-remaining-space"></span>
            <mat-chip-list>
                <mat-chip>{{shop.shopPIVA}}</mat-chip>
            </mat-chip-list>
        </mat-card-header>
        <mat-card-content>
            <p>Categoria: {{shop.shopCategory.shopCategoryDescription}}</p>
            <button mat-flat-button color="accent" (click)="showCatalog()">Visualizza Catalogo</button>
            <button *ngIf="shouldShowDeleteShopButton()" mat-flat-button color="accent" (click)="deleteShop()">Elimina
                Attività</button>
            <button mat-flat-button color="accent" *ngIf="shouldShowDeleteShopProductButton()" (click)="showAddProd()">
                Aggiungi Prodotto
            </button>
            <button mat-flat-button color="accent" *ngIf="shouldShowDeleteShopButton()" (click)="showAddEmpl()">
                Aggiungi Dipendente
            </button>
        </mat-card-content>
    </mat-card>

    <ng-template #noShopFound>Nessuna attività trovata con la partita IVA specificata</ng-template>

    <div *ngIf="shop != null && showCatalogo">
        <app-shop-catalog [piva]="piva"></app-shop-catalog>
    </div>
    <div *ngIf="shop != null && showAddProduct">
        <app-add-product [piva]="piva"></app-add-product>
    </div>
    <div *ngIf="shop != null && showAddEmployee">
        <app-add-employee></app-add-employee>
    </div>
</div>