<span class="fill-remaining-space"></span>
<mat-grid-list [cols]=4 rowHeight="400px">
  <mat-grid-tile [rowspan]=1 [colspan]=1>

  </mat-grid-tile>
  <mat-grid-tile [rowspan]=1 [colspan]=2>
    <div class="controles-container">
      <mat-card>
      <form [formGroup]="shopForm" (ngSubmit)="onSubmit()">
        <div class="insert-product-form-container">
          <mat-form-field>
            <input matInput placeholder="Partita IVA*" formControlName="shopPIVA">
          </mat-form-field>
          
          <mat-form-field>
            <input matInput placeholder="Ragione Sociale" formControlName="shopBusinessName">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Categoria" formControlName="shopCategoryDescription">
              <mat-option *ngFor="let category of categories" [value]="category.shopCategoryDescription">{{category.shopCategoryDescription}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Sede Operativa" formControlName="shopHeadquarter">
          </mat-form-field>

          <mat-form-field>
            <input matInput id="searchTextField" type="text" autocomplete="on" runat="server" placeholder="Indirizzo" formControlName="shopAddress">
            <input id="cityAddr" type="hidden" name="cityAddr"/>
            <input id="city2" type="hidden" name="city2"/>
            <input id="cityLat" type = "hidden" name="cityLat"/>
            <input id="cityLng" type = "hidden" name="cityLng"/>
          </mat-form-field>

          <button mat-raised-button color="accent">Crea Attività</button>
          <button mat-raised-button color="warn" id="cancel-btn">Annulla</button>
        </div>
      </form>
    </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]=1 [colspan]=1>

  </mat-grid-tile>

</mat-grid-list>
<span class="fill-remaining-space"></span>

