.full-width-table {
  width: 100%;
}

/* mat-table */
mat-footer-row mat-footer-cell{
  justify-content: center;
  font-style: italic;
}

.table-stepper-buttons{
  display: flex;
  margin-top: 2%;
}

.table-stepper-buttons button#next {
  margin-left: 2%;
}