<mat-sidenav-container class="sidenav-container">
 <mat-sidenav #drawer class="sidenav" mode="over" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">  
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngIf="canOperateOnShop()" [routerLink]="['/new-product']"><mat-icon>add</mat-icon> Nuovo Prodotto</a>
      <a mat-list-item *ngIf="canOperateOnShopAsOwner()" [routerLink]="['/new-shop']"><mat-icon>add</mat-icon> Nuova Attività</a>
      <a mat-list-item *ngIf="canOperateOnShop()" [routerLink]="['/new-order']"><mat-icon>add_shopping_cart</mat-icon> Nuovo Ordine</a>
      <a mat-list-item *ngIf="canOperateOnShopAsOwner()" [routerLink]="['/add-employee']"><mat-icon>add</mat-icon> Aggiungi Dipendente</a>
      <a mat-list-item *ngIf="isCustomer()" [routerLink]="['users/' + getLoggedUsername() + '/orders']"><mat-icon>view_list</mat-icon> Storico Ordini</a>
      <a mat-list-item *ngIf="canOperateOnShop()" [routerLink]="['/shops/' + getPartitaIva()]"><mat-icon>view_list</mat-icon> Dettaglio Attività</a>
      <a mat-list-item *ngIf="isFattorino()" [routerLink]="['/orders-to-delivery']"><mat-icon>view_list</mat-icon> Ordini da Consegnare</a>
      <a mat-list-item *ngIf="isFattorino()" [routerLink]="['/delivery-list']"><mat-icon>view_list</mat-icon> Storico consegne</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button *ngIf="isLoggedIn()" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a mat-button [routerLink]="['/home']"><mat-icon>home</mat-icon>Emporio</a>
    <span class="login-space"></span>
    <app-search-bar></app-search-bar>
    <a *ngIf="!(isLoggedIn())" mat-button [routerLink]="['/login']">Log In</a>
    <a *ngIf="!(isLoggedIn())" mat-button [routerLink]="['/registration']">Registrati</a>
    <a *ngIf="isLoggedIn()" mat-button (click)="logout()">Log Out</a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>