<span class="fill-remaining-space"></span>
<mat-grid-list [cols]=4 rowHeight="400px">
  <mat-grid-tile [rowspan]=1 [colspan]=1>

  </mat-grid-tile>
  <mat-grid-tile [rowspan]=1 [colspan]=2>
    <div class="controles-container">
        <mat-card>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="login-form-container">
          <mat-form-field>
            <input matInput placeholder="Username" formControlName="username" required>
          </mat-form-field>

          <mat-form-field>
            <input required type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>

          <button mat-raised-button color="accent">Accedi</button>
        </div>
      </form>
    </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]=1 [colspan]=1>

  </mat-grid-tile>
</mat-grid-list>
<span class="fill-remaining-space"></span>