<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
  
    <label>
      Descrizione:
      <input type="text" formControlName="productName" required>
    </label>
  
    <label>
      Categoria:
      <input type="text" formControlName="productCategory">
    </label>

    <label>
      Prezzo:
      <input type="text" formControlName="productPrice">
    </label>
    <label>
      Quantita':
      <input type="text" formControlName="productQuantity">
    </label>   
    
    <button type="submit" [disabled]="!productForm.valid">Aggiungi</button>

  </form>