<span class="fill-remaining-space"></span>
<mat-grid-list [cols]=4 rowHeight="400px">
  <mat-grid-tile [rowspan]=1 [colspan]=1>

  </mat-grid-tile>
  <mat-grid-tile [rowspan]=1 [colspan]=2>
    <div class="controles-container">
      <mat-card>
      <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
        <div class="insert-product-form-container">
          <mat-form-field>
            <input matInput placeholder="Nome Prodotto*" formControlName="productName">
          </mat-form-field>
  
          <mat-form-field>
            <mat-select placeholder="Categoria" formControlName="productCategoryName">
              <mat-option *ngFor="let category of categories" [value]="category.description">{{category.description}}</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button type="submit" color="accent">Crea Prodotto</button>
          <button mat-raised-button type="reset" color="warn" id="cancel-btn">Reimposta</button>
        </div>
      </form>
    </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]=1 [colspan]=1>

  </mat-grid-tile>

</mat-grid-list>
<span class="fill-remaining-space"></span>
